<form action="{% url 'pokemondb:index' %}" method="post">
    {% csrf_token %}
    <input type="text" name="searchterm" id="searchbar">
    <input type="submit" value="Filter">
    </form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if current_species %}
    <ul>
    {% for species in current_species %}
        <li><a href="{% url 'pokemondb:speciesDetails' species.id %}">{{ species.name_first }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Pokemon matching that description could be found.</p>
{% endif %}