{{ species }} ({{ species.type_string }})
Abilities: 
<a href="{% url 'pokemondb:abilityDetails' species.ability_1.id %}">{{ species.ability_1 }}</a>
{% if species.ability_2 %}
- <a href="{% url 'pokemondb:abilityDetails' species.ability_2.id %}">{{ species.ability_2 }}</a>
{% endif %}
{% if species.hidden_ability %}
-<i> <a href="{% url 'pokemondb:abilityDetails' species.hidden_ability.id %}">{{ species.hidden_ability }}</a></i>
{% endif %}
</br>
</br>
Base Stats:</br>
HP: {{ species.base_HP }}</br>
Attack: {{ species.base_Attack }}</br>
Defense: {{ species.base_Defense }}</br>
Sp. Attack: {{ species.base_SpAttack }}</br>
Sp. Defense: {{ species.base_SpDefense }}</br>
Speed: {{ species.base_Speed }}</br>
</br>

</br>
Learned Moves:
</br>
</br>
By leveling up
</br>
{% if level_moves %}
    {% for i in level_moves %}
        {{ i.level }}: {{ i.move.move_name }} ({{ i.move.type_string }})</br>
    {% endfor %}
{% endif %}
</br>
By TM
</br>
{% if tm_moves %}
    {% for i in tm_moves %}
        TM{{ i.move.TM_number }}: {{ i.move.move_name }} ({{ i.move.type_string }})</br>
    {% endfor %}
{% else %}
    This Pokemon learns no moves by TM.</br>
{% endif %}
</br>
By breeding
</br>
{% if egg_moves %}
    {% for i in egg_moves %}
        {{ i.move.move_name }} ({{ i.move.type_string }})</br>
    {% endfor %}
{% else %}
    This Pokemon learns no moves by breeding.</br>
{% endif %}
</br>
By move tutor
</br>
{% if tutor_moves %}
    {% for i in tutor_moves %}
        {{ i.move.move_name }} ({{ i.move.type_string }})</br>
    {% endfor %}
{% else %}
    This Pokemon learns no moves by tutor.</br>
{% endif %}
</br>

</br>
Available locations:</br>
</br>
{% if locations %} 
    {% for i in locations %}
        {{ i }}</br>
    {% endfor %}
{% else %}
    This Pokemon cannot be found in the wild.</br>
{% endif %}